---
layout: non-standard
title: "Applications"
permalink: /apps/
html-title: "Keaton's Apps"
weight: 0
---

<div class="applications">
{% for page in site.pages %} {% if page.icon %}
<div style="background-color: #{{ page.accent }}" class="app">
  <div class="inner-app">
  <a href="{{ page.permalink }}"><img class="app-icon2" src="{{ page.icon }}"</a><br>
        <a style="color: {{ page.text-color }};" class="app-link" href="{{ page.permalink }}">{{ page.title }}</a>

</div>
</div>

{% endif %} {% endfor %}
</div>
