---
layout: default
title: "Blog"
html-title: "Keaton's Blog"
permalink: /blog/
weight: 2
---
<div class="social">
    <h2 class="post-title">Bloggo</h2>
    <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | relative_url }}">via RSS</a></p>
</div>
<ul class="post-list">
    {% for post in site.posts %}
    <li class="blog-post">
        <div class="post-preview">

            <div class="post-stuff">
                <a class="post-link" href="{% if post.reference-url %}{{ post.reference-url }}{% else %}{{ post.url | relative_url }}{% endif %}">{{ post.title | escape }}</a>

            </div>
            <div class="meta">
                <span class="post-meta">Posted {{ post.date | date: "%b %d" }}</span>
                <span class="post-word-count">and has roughly {{ post.content | number_of_words }} words</span>
            </div>
            <div class="post-text">
                 {{ post.content  }}
            </div>

        </div>
    </li>
    {% endfor %}
</ul>
