---
title: 4Runner
permalink: "/yoter/"
layout: default
weight: 5
---
<style>
    body{
        font-weight: 500;
        font-family: "Helvetica-Neue", Helvetica, sans-serif!important;
    }
.header-container .header:before{
    background: url("http://images.128keaton.com/toyota/header.jpg")!important;
    border-bottom: 5px solid #bb071a;
}
#white{
    margin-top: -50px;
    padding: 0;
}
.page-link{
     color: #bb071a!important;
     background-color: black;
}
    </style>
<div class="intro">
        <img src="http://images.128keaton.com/toyota/4runnertitle.jpg">
    <div class="inner-intro">
    <div class="intro-one">
   

    <img src="http://images.128keaton.com/toyota/runner.JPG">
      </div>
    <div class="intro-two">

    <div class="specs">
        <ul>
            {% assign items = site.data.toyota.4runner.specs %} {% for item in items %}
                <li> {{ item }} </li>
            {% endfor %}
        </ul>
    </div>
      </div>
        
      </div>

</div>
<div id="parts" class="parts">
    <div class="part-header-wrapper">
   <h2 class="section-title-left">Part</h2> <h2 class="section-title-right">Numbers</h2>
   </div>
    <table class="parts-counter">
        {% assign parts = site.data.toyota.4runner.parts %}
        <tr>
            <th>Part Name</th>
            <th>Part Number</th>
            <th>Part Image</th>
        </tr>
        {% for part in parts %}
        <tr>
            <td class="part-label">{{ part["label"] }}</td>
            <td class="part-number">{{ part["part_number"]}} </td>
            <td class="part-image">
                {% if part["image"] %}<a class="part-image-link" href='{{ part["image"]}}'>Link</a>{% endif %} 
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
