---
---
{% include head.html %}
{% include header.html %}
<div id="obit">
    <div id="content">
        <article id="billboard" class="content">
            <a href="http://www.apple.com/stevejobs" class="block grid2col">
                <div class="column first">
                    <h1><img
                            src="/assets/ol-buddy.png"
                            alt="Steve Jobs 1955-2011" width="205" height="75"></h1>
                </div><!--/column first-->
                <div class="column last">
                </div><!--/column last-->
            </a>
        </article><!--/billboard-->
    </div><!--/content-->

</div>