<footer class="site-footer">

    <div class="wrapper2">
        <div class="comments">
            <div class="new-comment">
                <form method="POST" action="https://api.staticman.net/v2/entry/128keaton/personal-site/gh-pages/comments">
                    <input name="options[redirect]" type="hidden" value="http://128keaton.com">
                    <!-- e.g. "2016-01-02-this-is-a-post" -->
                    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
                    <label><input name="fields[name]" type="text">Name</label>
                    <label><input name="fields[email]" type="email">E-mail</label>
                    <label><textarea name="fields[message]"></textarea>Message</label>

                    <button type="submit">Go!</button>
                </form>
            </div>
        </div>


        <h2 class="footer-heading">{{ site.title | escape }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>
                        {% if site.author %} {{ site.author | escape }} {% else %} {{ site.title | escape }} {% endif %}
                    </li>
                    {% if site.email %}
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        {% include icon-github.html username=site.github_username %}
                    </li>
                    {% endif %} {% if site.twitter_username %}
                    <li>
                        {% include icon-twitter.html username=site.twitter_username %}
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>{{ site.description | escape }}</p>
            </div>
        </div>

    </div>

</footer>
