<div class="social-buttons">
    <a href="https://twitter.com/{{ site.username }}">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://github.com/{{ site.username }}">
        <i class="fa fa-github"></i>
    </a>
    <a href="https://instagram.com/{{ site.username }}">
        <i class="fa fa-instagram"></i>
    </a>

    <div id='dribbblewrap'>
        <a href="https://dribbble.com/{{ site.username }}">
            <i class="fa fa-dribbble"></i>
        </a>
    </div>
</div>
