.me-head {
  display: block;
  margin: 50px auto -20px auto;
  max-width: 300px;
  min-height: 200px;
}

.business-card {
  padding: 20px;
  margin: 0 auto;
  height: 300px;
  width: 100%;
  margin-top: 0px;
  padding-bottom: 55px;

  text-align: center;

  background: #00eaea; /* Old browsers */
  background: -moz-linear-gradient(45deg, #00eaea 0%, #e504f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #00eaea 0%, #e504f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #00eaea 0%, #e504f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00eaea', endColorstr='#e504f9', GradientType=1); /* IE6-9 fallback on horizontal gradient */

  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 94%);
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 94%);
  color: #ffffff;

  border: none!important;;

  p.terminal {
    background-color: #092732;
    padding: 1rem;
    width: 35%;
    font-family: 'Overpass Mono', monospace;
    margin: 0 auto;
    font-size: 14px;
    @media screen and (max-width: $on-palm) {
      width: 85%;
    }

    i.blink {
      -webkit-animation: fadingAnimation 1s infinite;
      -moz-animation: fadingAnimation 1s infinite;
      -o-animation: fadingAnimation 1s infinite;
      animation: fadingAnimation 1s infinite;
      vertical-align: bottom;
      text-decoration: none;
      font-style: initial;
      display: inline-block;
      margin-bottom: -2px;
    }
  }

  p {
    font-size: 20px;
  }

  h1 {
    margin: 0;
    font-size: 65px;
    //   font-family: "lunchtype25condensed_regular";
  }

  .social {
    a {
      color: black;
      font-size: 14px;
    }
  }

  .pic {
    width: 40%;
    text-align: center;

    img {
      width: 30%;
      max-width: 300px;
      border-radius: 100%;
    }
  }

  @media screen and (max-width: $on-palm) {
    padding: 8px;
    padding-bottom: 55px;
    .pic {
      img {
        width: 70%;
        margin-left: 0;
      }
    }
    .content {
      h1 {
        font-size: 35px;
        text-align: center;
      }
    }
    table {
      a {
        font-size: 18px;
      }
    }
  }
}

.links {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  text-align: center;

  a {
    color: #4320f2;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    text-transform: lowercase;
  }

  a {
    padding: 10px;
  }

  td {
    color: #f936f5;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    @media screen and (max-width: $on-palm) {
      display: inline-block;
    }
  }

  td:after {
    content: "/";
  }

  td:last-child:after {
    content: "";
  }

}

.resume {
  width: 65%;
  margin: 0 auto;
  background-color: #ffffff;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 25px;
  text-align: left;
  padding: 30px;

  tr {
    padding: 25px;
    vertical-align: baseline;
  }

  .header {
    border-bottom: solid 4px #000000;

    td {
      h1 {
        margin-bottom: 0;
      }

      span {
        font-size: 14px;
        font-family: $base-font-family;
        color: #a5a5ad;
        margin-bottom: 12px;
      }
    }
  }

  th {
    font-size: 30px;
    border-bottom: 2px solid gray;
  }

  h1 {
    font-size: 70px;
    //     font-family: "lunchtype25condensed_regular";
  }

  td {
    font-family: Lora;
    font-weight: 300;

    h4, p {
      font-family: Lora;
      font-weight: 300;
    }
  }

  @media screen and (max-width: $on-palm) {
    padding: 1em;
    margin: 0 auto;
    margin-top: 10px;
    h1 {
      font-size: 35px;
    }
    h4 {
      margin-bottom: 0;
    }
    td {
      display: block;
    }


    tr {
      display: block;
      border-bottom: 2px solid #000000;
      padding: 10px;

      td:nth-child(1) {
        h4 {
          font-size: 20px;
        }
      }
    }
    tr:last-child {
      border: none;
    }

    width: 100%;
    .header {
      td:nth-child(2) {
        display: none;
      }

      padding: 0;
      margin: 0;
    }
    #top {
      display: none;
    }
  }
}

.apps-wrapper {
  width: 65%;
  margin: 0 auto;

  h1 {
    font-size: 80px;
    font-weight: bolder;
  }

  .apps {
    table-layout: fixed;
    margin: 0 auto;
    width: 100%;
    padding-top: 25%;

    img {
      max-width: 100px;
      border-radius: 17.544%;
    }

    p {
      max-width: 75%;
      margin: 0 auto;
      margin-top: 15px;
    }

    h1 {
      padding: 0;
      margin: 0;
      font-size: 25px;
      font-weight: 100;
    }

    td {
      vertical-align: baseline;
      cursor: pointer;
    }
  }

  @media screen and (max-width: $on-palm) {
    width: 100%;
    .apps {
      padding-top: 30px;
    }
    h1 {
      font-size: 35px;
      margin-left: 10px;
    }

    .marvel-device.ipad.landscape {
      width: 100%;
      padding: 0;
    }
    td {
      vertical-align: top;
      display: block;
      margin-bottom: 25px;
    }
  }
}

.projects-wrapper {
  width: 65%;
  margin: 0 auto;

  h1 {
    font-size: 80px;
    font-weight: bolder;
  }

  .pinned-repos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    background-color: white;
    border: 1px solid #d1d5da !important;
    padding: 28px 22px 12px 22px;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;

    .pinned-repo-item {
      display: flex;
      border: 1px solid #d1d5da !important;
      padding: 16px !important;
      margin-bottom: 16px !important;
      border-radius: 3px;
      flex-basis: 45%;
      flex-grow: 0;
      -webkit-animation: fadeInFromNone 0.5s ease-out;
      -moz-animation: fadeInFromNone 0.5s ease-out;
      -o-animation: fadeInFromNone 0.5s ease-out;
      animation: fadeInFromNone 0.5s ease-out;
    }

    .pinned-repo-item-content {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      width: 100%;
    }

    .pinned-repo-desc {
      flex: 1 0 auto;
    }

    .repo-language-color {
      border-radius: 50%;
      display: inline-block;
      height: 12px;
      position: relative;
      top: 1px;
      width: 12px;
    }

    .pinned-repo-meta + .pinned-repo-meta {
      margin-left: 16px;
    }

    .pinned-repo-meta {
      display: inline-block;
    }

    .muted-link {
      color: #586069 !important;
    }

    .octicon {
      display: inline-block;
      fill: currentColor;
      vertical-align: text-bottom;
      margin-right: 2px;
    }

    a {
      color: #0366d6 !important;
      text-decoration: none;
    }

    .repo-language-color {
      border-radius: 50%;
      display: inline-block;
      height: 12px;
      position: relative;
      top: 1px;
      width: 12px;
      margin-right: 5px;

    }

    p.no-data {
      text-align: center;
      width: 100%;
      margin-bottom: 18px;
      font-size: 2rem;
      margin-top: 0;
      color: gray;
    }

    .objective-c {
      background-color: #438eff;
    }

    .html {
      background-color: #e34c26;
    }

    .java {
      background-color: #b07219;
    }

    .c {
      background-color: #555555;
    }

    .php {
      background-color: #4F5D95;
    }

    .swift {
      background-color: #ffac45;
    }

    .javascript {
      background-color: #f1e05a;
    }

    .shell {
      background-color: #89e051;
    }

    .lua {
      background-color: #000080;
    }

    .css {
      background-color: #563d7c;
    }
  }

  @media screen and (max-width: 1024px) {
    .pinned-repo-item {
      flex-basis: 100% !important;
    }
  }
  @media screen and (max-width: $on-palm) {
    width: 95%;
    .pinned-repos-list {
      display: block !important;
    }
    .pinned-repo-item {
      display: block;
      width: 90% !important;
    }
  }
}


.thoughts-wrapper {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 25px;

  h1 {
    font-size: 80px;
    font-weight: bolder;
  }

  .white-background {
    background-color: #fff;
  }

  .thoughts {
    border-spacing: 0;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    font-weight: 100;
    border: 4px double rgb(215, 222, 255);

    td {
      padding: 10px;
    }
  }

  tr:nth-child(even) {
    background-color: #f5f9ff
  }

  .thought {
    padding: 22px;

    h2 {
      padding: 0;
      margin: 0;
      font-weight: 100;
      font-family: Lora;
      float: left;
      text-align: left !important;
      vertical-align: baseline;
      margin-top: 10px;
    }

    p {
      float: right;
      font-weight: normal;
    }
  }

  .more {
    text-align: center;
    cursor: pointer;
  }

  a {
    color: black;
    text-decoration: none;
  }

  @media screen and (max-width: $on-palm) {
    width: 100%;
    h1 {
      font-size: 35px;
      margin: 0 auto;
      text-align: center;
    }
    .thought:last-child {
      height: 100px;
    }
    .thought {
      width: 95%;
      text-align: center;

      p {
        display: none;
      }
    }
  }
}

.about-wrapper {
  background-color: #070826;
  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
  width: 100%;
  margin: 0 auto;
  min-height: 420px;
  color: #ffffff;

  td:nth-child(even) {
    padding: 0 1.2em;
  }

  .about {
    width: 60%;
    margin: 0 auto;
    margin-top: 55px;
    padding-bottom: 25px;

    p {
      font-family: Lora;
    }
  }

  h1 {
    font-size: 80px;
    width: 60%;
    margin: 0 auto;
    padding-top: 55px;
    display: block;
    font-weight: bolder;
  }

  .social {
    margin: 4em 0;

    a {
      color: #e504f9;
      font-size: 18px;
      text-decoration: none;
    }

    i {
      font-size: 18px;
      color: #00eaea;
    }
  }

  @media screen and (max-width: $on-palm) {
    width: 100%;
    .about {
      width: 90%;
      margin-top: 15px;

    }
    .social {
      width: 100%;
      text-align: center;

      td:nth-child(1) {
        width: 100%;
      }

      td {
        display: inline-block;
      }
    }
    h1 {
      font-size: 30px;
      margin-left: 20px;
    }
  }
}

@keyframes fadingAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadingAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadingAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadingAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
