/* For notices, warnings, etc */
.notice--info {
    background-color: #c4ebc6;
    border-left: 10px solid black;
    padding: 10px;
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
}

.notice--info a {
    color: #7d707e;
}

.notice--update {
    padding: 10px;
    background-color: #daf5ff;
    border-left: solid rgb(117, 202, 255) 10px;
    font-size: 18px;
}
