/* For notices, warnings, etc */
.notice--info {
    background: linear-gradient(#ff4b33, #ff335e);
    border-left: 10px solid black;
    padding: 10px;
    color: white;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    width: 100%;
}

.notice--info a {
    color: white;
}

.notice--update {
    padding: 10px;
    background-color: #daf5ff;
    border-left: solid rgb(117, 202, 255) 10px;
    font-size: 18px;
}
