.slant-container {
    z-index: 1;
    width: 100%;
    position: relative;
}

.slant-container .skew:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: visible;
    width: 100%;
    height: 400px;
    background: #ebdd3a;
    z-index: -1;
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    transform: skewY(4deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
}

.slant-container .skew .slant-container -inner {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.introduction {
    text-align: center;
    font-weight: 100;
    padding-top: 100px;
    color: black;
    text-transform: lowercase;
    font-weight: bold;
    padding-bottom: 120px;
}

.front-site-links {
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 20%;
    transform: translateY(-20%);
    text-align: center;
}

.front-site-links .page-link {
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    padding: 25px;
}

.header-container {
    z-index: 1;
    width: 100%;
    position: relative;
}

.header-container .header:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -60px;
    overflow: visible;
    width: 100%;
    height: 300px;
    background: #ebdd3a;
    z-index: -1;
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    transform: skewY(4deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
}

.header-container .header .header-container -inner {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-inner {
    color: black;
    width: 100%;
}

.site-title {
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
}

.site-links {
    text-align: right;
    padding-right: 25px;
    margin-top: 20px;
    font-size: 25px;
}

.page-link {
    color: black;
    text-transform: lowercase;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.applications {
    margin: 0 auto;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.app-link {
    text-decoration: none;
    font-size: 25px;
    padding: 25px;
}

.inner-app {
    transform: translateY(50%);
}

.app-icon {
    border-radius: 20%;
    padding: 25px;
}

.app {
    flex: 1;
}

.social {
    margin-top: 100px;
    color: black;
    text-align: center;
}

.post-list {
    width: 50%;
    list-style: none;
    margin: 25px auto 0;
}

.post-list li {
    padding-bottom: 10px;
    border-left: 2px solid #cd4a2d;
    margin: 10px 0;
}

.post-link {
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
    text-decoration: none;
    margin-left: 5px;
    padding: 10px;
    color: white;
    background-color: #cd4a2d;
}

.meta {
    width: 100px;
    float: left;
}

.post-meta {
    color: black;
    padding: 0 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 17px;
}

#main {
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

#white {
    background-color: #fff;
}

#white p.copyright {
    color: black;
}

#home p.copyright {
    color: white;
    font-size: 10px;
}
// ###-COMMENTS-###

.comments {
    width: 40%;
}

.text-field {
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 12px;
}

h2.comments__heading.heading-2 {
    font-weight: 300;
}

.cta {
    border: 0 solid black;
    background-color: #ebdd3a;
    text-transform: lowercase;
}

.comment {
    position: relative;
    margin-bottom: 75px;
}

.comment__content-wrapper {
    padding-left: 120px;
}

.comment__author {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.comment__date {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.comment a {
    text-decoration: none;
    color: black;
}

.comment__avatar-wrapper {
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    overflow: hidden;
}
// ###-FOOTER-###

.footer {
    margin: 0 auto;
    width: 100%;
    position: relative;
    text-align: center;
    top: 40%;
    transform: translateY(-40%);
}
