
@import "_home.scss";


/* Page-specific colors */
#main {
  padding: 1em;
  box-sizing: border-box;
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box;
}

#white {
  background-color: #fff;
  padding-top: 10px;
  margin-top: -10px;

}


#white p.copyright {
  color: black;
}

#post .social-buttons a{
  color: white!important;
}
#home p.copyright {
  color: white;
  font-size: 20px;
}
/* Footer */
.footer {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateZ(0px);
}

#frontpage-footer {
  top: 40%;
  transform: translateY(-40%);
}

.footer .copyright {
  -webkit-transform: translateZ(0px);
}

.footer a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

#default-footer a{
  color: black;
}

.fa {
  -webkit-transform: translateZ(0px);
}

#dribbblewrap {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
}

#dribbblewrap:hover {
  transform: rotate(1080deg);
}

.fourohfour {
  margin-top: 155px;
  text-align: center;
  clear: both;
  overflow: auto;
  display: block;
}

.fourohfour::after {
  clear: both;
}
.fourohfour a{
  text-align: center;
  color: white;
  font-size: 26px;
}
.svg{
  max-width: 30px;
  padding: 10px;
}
@media screen and (max-width: $on-laptop) {
  #frontpage-footer,
  #home p.copyright {
    font-size: 0.8em!important;
    top: 27%;
    transform: translateY(-27%);
  }
}
@media screen and (max-width: $on-palm) {
  #frontpage-footer,
  #home p.copyright {
    font-size: 1.5em!important;
    top: 10%!important;
    transform: translateY(-10%) !important;
  }
}