.social-buttons{
    width: 100%;
    background-color: #7D8CC4;
    height: 100px;
    padding: 30px;
    text-align: center;
    a{
    
        img{
            max-width: 100px;
            padding: 15px;
        }
    }
}