// Our variables
$base-font-family: "SF Pro Text",system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI","Helvetica Neue","Helvetica","Arial",sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
$text-color: #333;
$light-text-color: #a5a5ad;
$background-color: rgb(227, 227, 227);
$dark-background-color: #737986;
$brand-color: #ebdd3a;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;
