@mixin protect-background {
  @media (prefers-color-scheme: dark) {
    background: rgb(18, 18, 18);
    background: linear-gradient(90deg, rgba(18, 18, 18, 1) 0%, rgba(18, 18, 18, 1) 92%, rgba(18, 18, 18, 0) 100%);
    box-shadow: 0 0 58px -2px rgb(18, 18, 18), inset 0px 0px 200px 100px rgb(18, 18, 18);
  }

  @media (prefers-color-scheme: light) {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 92%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 58px -2px #fff;
  }
}

#home {
  max-width: 1100px;
  flex: 1;
  z-index: 100;
  user-select: none;

  h1, h2, h3 {
    font-weight: normal;
    margin: 0;
    width: fit-content;
  }

  h2 {
    line-height: 37px;
  }

  h1 {
    font-size: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  h2 {
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  span.uline {
    border-bottom: 2px solid;
    user-select: text;
  }

}

.greeting {
  padding: 1.2em 1.2em 0;

  * {
    @include protect-background;
  }

  img {
    width: 200px;
    height: 160px;
    display: block;
    transform: rotate(90deg);
    margin-left: -2.5em;
  }
}

.education {
  padding-left: 1.2em;
}

.links {
  padding-bottom: 1.2em;
  width: fit-content;

  .link {
    padding-left: 1em;
    margin-left: 1.2em;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    @include protect-background;

    &:first-child {
      padding-top: 0.5em;
    }

    &:last-child {
      padding-bottom: 0.5em;
    }

    &.github {
      border-left: 2px solid #006ee6;
    }

    &.linked-in {
      border-left: 2px solid #a645bd;
    }

    &.download {
      border-left: 2px solid #45ecba;
    }
  }
}

.specialties {
  display: flex;
  padding: 0 1.2em 1.2em;

  .specialty {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    max-width: 100px;
    @include protect-background;

    p {
      margin: 0;
      padding: 0;
      line-height: 24px;
      text-align: center;
    }

    .title {
      user-select: text;
    }

    .experience {
      color: grey;
    }
  }

  @media (max-width: 900px) {
    flex-wrap: wrap-reverse;

    .specialty {
      margin-bottom: 1em;
    }
  }
}

.languages {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: right;
  width: 1200px;

  @media (max-width: 800px) {
    display: none;
  }

  span {
    color: #27fb0f;
    text-align: center;
    font-size: 65px;
    margin: 1em;
    display: block;
    font-family: 'Source Code Pro', monospace;
    opacity: 0.05;
    transition: opacity 250ms ease-in-out;
    text-shadow: none;

    @media (max-width: 1500px) {
      font-size: 55px;
    }

    &.show {
      opacity: 1;
      text-shadow: 0 0 21px rgba(39, 251, 15, 0.57),
      0 0 82px rgba(39, 251, 15, 0.83);
    }
  }
}
