#home {
  max-width: 950px;
  flex: 1;
  z-index: 100;
  user-select: none;
  clip-path: polygon(24% 0, 37% 34%, 100% 40%, 100% 69%, 68% 85%, 54% 100%, 0 100%, 0 0);

  h1, h2, h3 {
    font-weight: normal;
    margin: 0;
    width: fit-content;
  }

  h2 {
    line-height: 37px;
  }

  h1 {
    font-size: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  h2 {
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  span.uline {
    border-bottom: 2px solid;
    user-select: text;
  }

  @media (prefers-color-scheme: dark) {
    background: rgb(18, 18, 18);
    box-shadow: 0 0 50px 50px rgb(18, 18, 18);
  }

  @media (prefers-color-scheme: light) {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 50px 50px #fff;
  }

  @media only screen and (max-width: 1000px) {
    clip-path: unset !important;
    padding-left: 2em;

    .greeting img {
      transform: rotate(180deg);
      margin-top: -2em;
    }
  }
}

.greeting {
  padding: 1.2em 1.2em 0;

  img {
    width: 200px;
    height: 160px;
    display: block;
    transform: rotate(90deg);
    margin-left: -2.5em;
  }
}

.education {
  padding-left: 1.2em;
}

.specialties {
  display: flex;
  padding: 1.2em;

  .specialty {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    max-width: 100px;

    p {
      margin: 0;
      padding: 0;
      line-height: 24px;
      text-align: center;
    }

    .title {
      user-select: text;
    }

    .experience {
      color: grey;
    }
  }

  @media (max-width: 900px) {
    flex-wrap: wrap-reverse;
    justify-content: space-between;

    .specialty {
      margin-bottom: 1em;
    }
  }
}

@import "home/languages";
@import "home/links";
