a.linked-in-link, a.github-link, a.download-link {

  color: #006ee6;
  text-decoration: none!important;

  .text-wrapper {
    line-height: 21px;
    border-bottom: 1px solid;
  }

  .icon-wrapper {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -3px;
    margin-right: 1px;
    margin-left: 1px;
    background-size: contain;
  }
}

a.github-link {
  .icon-wrapper {
    @media (prefers-color-scheme: dark) {
      background-image: url("/icons/gh-dark.png");
    }

    @media (prefers-color-scheme: light) {
      background-image: url("/icons/gh-light.png");
    }
  }
}

a.linked-in-link {
  color: #a645bd;

  .icon-wrapper {
    @media (prefers-color-scheme: dark) {
      background-image: url("/icons/li-dark.png");
    }

    @media (prefers-color-scheme: light) {
      background-image: url("/icons/li-light.png");
    }
  }
}

a.download-link {
  color: #45ecba;

  .icon-wrapper {
    @media (prefers-color-scheme: dark) {
      background-image: url("/icons/dl-dark.png");
    }

    @media (prefers-color-scheme: light) {
      background-image: url("/icons/dl-light.png");
    }
  }
}

