@import "../variables";
@import "../animations";

.business-card {
  margin: 0 auto;
  height: 300px;
  width: 100%;
  padding: 20px 20px 55px;

  text-align: center;

  background: #00eaea; /* Old browsers */
  background: -moz-linear-gradient(45deg, #00eaea 0%, #e504f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #00eaea 0%, #e504f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #00eaea 0%, #e504f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00eaea', endColorstr='#e504f9', GradientType=1); /* IE6-9 fallback on horizontal gradient */

  -webkit-clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 94%);
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 94%);
  color: #ffffff;

  p.hljs {
    background-color: #092732;
    padding: 1rem;
    width: 35%;
    -webkit-clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
    clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
    margin: 1em auto;
    @media screen and (max-width: $on-palm) {
      width: 85%;
    }

    i.blink {
      -webkit-animation: fadingAnimation 1s infinite;
      -moz-animation: fadingAnimation 1s infinite;
      -o-animation: fadingAnimation 1s infinite;
      animation: fadingAnimation 1s infinite;
      vertical-align: bottom;
      text-decoration: none;
      font-style: initial;
      display: inline-block;
      margin-bottom: -4px;
      margin-left: 5px;
      font-family: 'Overpass Mono', monospace;
    }
  }

  p {
    font-size: 20px;
  }

  h1 {
    font-weight: 400;
    margin: 0;
    font-size: 105px;
  }

  .social {
    a {
      color: $text-color;
      font-size: 14px;
    }
  }

  .pic {
    width: 40%;
    text-align: center;

    img {
      width: 30%;
      max-width: 300px;
      border-radius: 100%;
    }
  }

  @media screen and (max-width: $on-palm) {
    padding: 8px 8px 55px;
    .pic {
      img {
        width: 70%;
        margin-left: 0;
      }
    }
    .content {
      h1 {
        font-size: 35px;
        text-align: center;
      }
    }
    table {
      a {
        font-size: 18px;
      }
    }
  }
}
