/* Applications */

.applications {
    margin: 0 auto;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.app-link {
    text-decoration: none;
    font-size: 25px;
    padding: 25px;
}

.inner-app {
    transform: translateY(50%);
}

.app-icon {
    border-radius: 20%;
    padding: 25px;
}

.app {
    flex: 1;
}
@media screen and (max-width: $on-palm) {
    .applications {
        display: block!important;
    }

    .app {
        height: 500px!important;
    }
}
