/* Applications */
.applications {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    min-height: 800px;
    list-style: none;
    align-items: center;
}


#application {
    flex: 1;
    transition: all 0.2s ease-in-out;
}
#application a{
  display: inline-block;
  width: 256px;
  height: 256px;
  color: transparent;
  text-indent: -9999px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 42px;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}
#application a:hover{
  -webkit-background-size: 236px 236px;
  background-size: 236px 236px;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}
#application h2{
  font-weight: 100;
}
a.elemnt{
  background-image: url("http://images.128keaton.com/icons/elemnt-icon.png");
  background-size: 200px 200px;
    -webkit-background-size: 200px 200px;
}
a.payup{
  background-image: url("http://images.128keaton.com/icons/payup-icon.png");
  background-size: 200px 200px;
    -webkit-background-size: 200px 200px;
}
a.test-strip{
  background-image: url("http://images.128keaton.com/icons/test-strip-icon.png");
  background-size: 200px 200px;
    -webkit-background-size: 200px 200px;
}
@media screen and (max-width: $on-palm) {
    .applications {
        display: block!important;
    }

    .app {
        height: 500px!important;
    }
    #full{
      height: auto!important;
    }
}
