/* Home */
@keyframes text {
    100% {
        -webkit-transform: skewY(3deg);
        -moz-transform: skewY(3deg);
        -ms-transform: skewY(3deg);
        -o-transform: skewY(3deg);
        transform: skewY(3deg);
    }
}

body {
    background-color: rgb(13, 21, 40);
    height: 100vh;
}

.wrapper {
    overflow-x: hidden;
}

.slant-container {
    z-index: 1;
    width: 100%;
    position: relative;
    outline: 1px solid transparent;
}

.slant-container .skew:before {
    content: '';
    -webkit-backface-visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: visible;
    width: 100%;
    height: 442px;
    background: linear-gradient(#ff4b33, #ff335e);
    z-index: -1;
    -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -o-transform: skewY(3deg);
    transform: skewY(3deg);
    outline: 1px solid transparent;
    transition: transform 1s;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.slant-container .skew .slant-container-inner {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1.introduction {
    text-align: center;
    padding-top: 100px;
    color: white;
    text-transform: lowercase;
    font-weight: 900;
    -webkit-transform: translateZ(0);
}

img.introduction {
    width: 200px;
    margin: 0 auto;
    display: block;
    border-radius: 100%;
}

p.introduction {
    text-align: center;
    padding-bottom: 60px;
    font-weight: 400;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.front-site-links {
    margin: 0 auto;
    width: 100%;
    position: relative;
    top: 20%;
    transform: translateY(-20%);
    text-align: center;
}

.front-site-links .page-link {
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-weight: 100;
    padding: 25px;
    border-right: 1px solid white;
}

.front-site-links .page-link:nth-child(3) {
    border: none!important;
}

.notice {
    font-size: 14px;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #e22626;
    width: 330px;
    margin: 22px auto 0;
    border-radius: 12px;
}

.notice::after, .notice::before{
  content: "!";
font-size: 18px;
font-weight: 100;
margin-bottom: -20px;
border: 2px solid white;
padding-left: 10px;
margin-left: 15px;
padding-right: 10px;
border-radius: 100%;
}
.notice::before{
  margin-right: 15px;
    margin-left: 0;
}

.build-status {
    text-align: center;
    margin-bottom: 25px;
}
@media screen and (max-width: $on-palm) {
    .front-site-links .page-link {
        padding: 10px !important;
        font-weight: 300!important;
    }

    .build-status {
        display: none;
    }

    .front-site-links .page-link {
        border: none!important;
    }

    .front-site-links {
        top: 5%!important;
        transform: translateY(-5%)!important;
    }
}
