---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "main.css";

a.home {
    padding: 20px;
    display: block;
    float: left;
    color: white;
    font-size: 25px;
}
a.help {
    padding: 20px;
    display: block;
    float: right;
    color: white;
    font-size: 25px;
}
.app-container {
    width: 40%;
    margin: 0 auto;
}
.app-title {
    font-size: 100px;
    text-align: center;
    font-weight: 100;
    margin-bottom: 10px;
    padding-bottom: 0;
}
.app-description {
    font-size: 35px;
    font-weight: 300;
}
.app-icon {
    width: 80px;
    border-radius: 17px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.app-video {
    float: right;
    width: 50%;
}
#large {
    float: right;
    width: 90%;
    height: 550px;
}
.app-info {
    float: left;
    width: 50%;
}
.app-features-list{
  font-size: 25px;
  margin: 0;
}
.app-features-title {
    font-style: italic;
    font-weight: 100;
    font-size: 55px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
}
.app-features {
    font-size: 23px;
}
.app-download {
    width: 100%;
    float: left;
    display: block;
    height: 50px;
    text-align: center;
    padding: 20px;
    color: #d2ce89;
    font-size: 30px;
    padding: 20px 20px 50px;
}
.app-download a {
    color: #d2ce89;
    text-decoration: none;
}
@media only screen and (max-width : 768px) {
.app-container {
  width: 100%;
}
.app-description{
  width: 95%;
text-align: center;
  margin: 0 auto;
}
.app-video{
  text-align: center;
  float: none;
  margin: 0 auto;
}
.app-info{
  width: 95%!important;
  margin: 0 auto;
  float: none;
}
.app-download{
  font-size: 20px;
}
#large{
  height: auto;
  margin: 0 auto;
  float: none;
  padding: 0px;
}
}
