---
---
body, html{
  height: 100%;
}
body {
    font-family: -apple-system-font, "Helvetica-Neue", Helvetica, sans-serif;
}

.wrapper {
    width: 50%;
    margin-left: 100px;
}

h1,
h2,
h3 {
    font-weight: 100;
}

p {
    font-size: 14px;
    line-height: 1.8em;
    margin-left: 12px;
}

.check {
    width: 100%;
    background-color: #eceae6;
    padding: 12px;
    font-size: 20px;
    color: #3c3a3a;
    text-align: center;
    line-height: 2.0;
    font-style: italic;
}
a{
  color: red;
  text-decoration: none;
}
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px){
  h1{
    font-size: 40px;
  }
  .wrapper {
      width: 90%;
      margin: 0 auto;
  }
  .check{
    margin-left: -12px;
  }
}
