---
---

@import url('fonts/stylesheet.css');
@import "variables";

body {
  font-family: $base-font-family!important;
  -webkit-font-smoothing: antialiased;
  color: #111;
  background: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body#post {
  background: $dark-background-color;
}

.clear {
  clear: both;
}

#home,
#full {
  height: 100%;
}

.wrapper {
  overflow: auto;
  overflow-x: hidden;
}

.wrapper:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.header-container {
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
  width: 60%;
  margin: 1em auto 0 auto;
  height: 60px;

  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

  -webkit-box-shadow: 2px 4px 18px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 18px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 18px -3px rgba(0, 0, 0, 0.75);

  td {
    background-color: #16162d;
    padding: 0;
    margin: 0;
  }

  td:first-child {
    border-top-left-radius: 5px;
    text-align: left;
    padding-left: 1em;
  }

  td:last-child {
    border-top-right-radius: 5px;
    text-align: right;
    padding-right: 1em;
  }

  h1 {
    color: #fff;
    padding: 0 12px;
    margin: 0;
    font-size: 25px;
    font-weight: normal;
  }

  a:first-child {
    font-size: 25px;
    color: #fc4948;
    text-decoration: none;
    padding: 0 12px;
    margin: 0;
    text-align: left;
  }

  a:nth-child(2) {
    font-size: 25px;
    color: #feb024;
    text-decoration: none;
    padding: 0 12px;
    margin: 0;
    text-align: left;
  }

  a:nth-child(3) {
    font-size: 25px;
    color: #28c432;
    text-decoration: none;
    padding: 0 12px;
    margin: 0;
    text-align: left;
  }

  @media screen and (max-width: $on-palm) {
    td {
      display: flex;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      padding: 10px 0 10px 0 !important;
    }
  }
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.footer {
  text-align: center;
  margin-bottom: -2px;
  padding: 0;
  margin-top: 25px;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
}

@import "home";
@import "device";
@import "social";
@import "page";
@import "apps";
@import "posts";
@import "odo";
@import "obit";
@import "highlighting";
