@import url("fonts/stylesheet.css");
@import url(main.css);
body {
  font: 400 16px/1.5 "lunchtype22regular", "Helvetica Neue", -apple-system-font, Helvetica, Roboto, Arial, sans-serif;
  color: #000000;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  padding: 0;
  margin: 0;
  background: #f3f3f3;
  overflow-x: hidden !important;
  overflow-y: scroll;
  /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.clear {
  clear: both; }

#home,
#full {
  height: 100%; }

.wrapper {
  overflow: auto;
  overflow-x: hidden; }

.wrapper:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.header-container {
  width: 100%;
  margin: 0 auto;
  background-color: #16162d;
  text-align: center;
  table-layout: fixed; }
  .header-container h1 {
    color: #fff; }
  .header-container a {
    font-size: 25px;
    color: #ff4b33;
    text-decoration: none; }

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch; }

.footer {
  text-align: center;
  margin-bottom: -2px;
  padding: 0;
  margin-top: 25px; }

.business-card {
  padding: 20px;
  margin: 0 auto;
  height: 300px;
  width: 100%;
  margin-top: 0px;
  padding-bottom: 55px;
  background-color: #000000;
  background: linear-gradient(#ff4b33, #ff335e);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 94%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 94%);
  color: #ffffff; }
  .business-card .mobile {
    display: none; }
  .business-card h1 {
    margin: 0;
    font-size: 65px;
    font-family: "lunchtype25condensed_regular"; }
  .business-card .social a {
    color: black;
    font-size: 14px; }
  .business-card .pic {
    width: 40%; }
    .business-card .pic img {
      width: 60%;
      border-radius: 100%;
      margin-left: 60px; }
  .business-card table a {
    color: yellow;
    text-decoration: none;
    font-size: 20px; }
  .business-card table a:after {
    content: " | "; }
  .business-card table td:last-child a:after {
    content: ""; }
  @media screen and (max-width: 600px) {
    .business-card {
      padding: 8px;
      padding-bottom: 55px; }
      .business-card .mobile {
        display: table-cell; }
        .business-card .mobile .pic {
          display: block; }
          .business-card .mobile .pic img {
            margin-left: 0; }
      .business-card .pic {
        display: none; }
      .business-card .content h1 {
        font-size: 30px; }
      .business-card table a {
        font-size: 18px; } }

.resume {
  width: 65%;
  margin: 0 auto;
  background-color: #ffffff;
  border-collapse: separate;
  margin-top: 25px;
  text-align: left;
  padding: 30px; }
  .resume tr {
    padding: 25px;
    vertical-align: baseline; }
  .resume .header {
    border-bottom: solid 4px #000000; }
    .resume .header td:nth-child(2) {
      padding-left: 20px; }
      .resume .header td:nth-child(2) span {
        font-size: 14px;
        font-family: "lunchtype22regular", "Helvetica Neue", -apple-system-font, Helvetica, Roboto, Arial, sans-serif;
        color: #a5a5ad; }
  .resume th {
    font-size: 30px;
    border-bottom: 2px solid gray; }
  .resume h1 {
    font-size: 70px;
    font-family: "lunchtype25condensed_regular"; }
  .resume td h4 {
    font-weight: 100; }
  @media screen and (max-width: 600px) {
    .resume {
      padding: 0;
      margin: 0 auto;
      margin-top: 10px;
      width: 95%; }
      .resume h1 {
        font-size: 35px; }
      .resume td {
        display: block; }
      .resume tr {
        display: block;
        border-bottom: 2px solid #000000; }
        .resume tr td:nth-child(1) h4 {
          font-size: 20px; }
      .resume tr:last-child {
        border: none; }
      .resume .header {
        padding: 0;
        margin: 0; }
        .resume .header td:nth-child(2) {
          display: none; }
      .resume tr:nth-child(2) {
        display: none; } }

.apps-wrapper {
  width: 60%;
  margin: 0 auto; }
  .apps-wrapper h1 {
    font-size: 80px;
    font-weight: bolder; }
  .apps-wrapper .apps {
    table-layout: fixed;
    margin: 0 auto;
    width: 100%;
    padding-top: 25%; }
    .apps-wrapper .apps img {
      max-width: 100px;
      border-radius: 17.544%; }
    .apps-wrapper .apps p {
      max-width: 75%;
      margin: 0 auto;
      margin-top: 15px; }
    .apps-wrapper .apps h1 {
      padding: 0;
      margin: 0;
      font-size: 25px;
      font-weight: 100; }
    .apps-wrapper .apps td {
      vertical-align: baseline;
      cursor: pointer; }
  @media screen and (max-width: 600px) {
    .apps-wrapper {
      width: 100%; }
      .apps-wrapper h1 {
        font-size: 35px;
        margin-left: 10px; }
      .apps-wrapper .marvel-device.ipad.landscape {
        width: 100%;
        padding: 0; }
      .apps-wrapper td {
        vertical-align: top; } }

.projects-wrapper {
  width: 60%;
  margin: 0 auto; }
  .projects-wrapper h1 {
    font-size: 80px;
    font-weight: bolder; }
  .projects-wrapper .projects {
    background-color: #fff;
    padding: 10px;
    border-spacing: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 25px; }
    .projects-wrapper .projects h2 {
      font-size: 16px !important;
      font-weight: normal; }
    .projects-wrapper .projects .project {
      border-radius: 3px;
      border: 1px solid #d1d5da;
      padding: 15px; }
      .projects-wrapper .projects .project a {
        text-decoration: none; }
      .projects-wrapper .projects .project h2 {
        color: #0366d6;
        font-size: 14px; }
      .projects-wrapper .projects .project p {
        color: #586069;
        font-size: 14px; }
      .projects-wrapper .projects .project .language-color {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: blue; }
      .projects-wrapper .projects .project .technologies .jekyll {
        background-color: #e34c26; }
      .projects-wrapper .projects .project .technologies .javascript {
        background-color: #e34c26; }
      .projects-wrapper .projects .project .technologies .swift {
        background-color: #ffac45; }
    .projects-wrapper .projects .project::nth-child(odd) {
      margin-right: 12px; }
  @media screen and (max-width: 600px) {
    .projects-wrapper {
      width: 100%; }
      .projects-wrapper .projects {
        width: 100%; }
      .projects-wrapper .project {
        display: block; }
      .projects-wrapper td.project:nth-child(odd) {
        margin-bottom: 20px; }
      .projects-wrapper h1 {
        font-size: 35px;
        margin-left: 10px; } }

.thoughts-wrapper {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 25px; }
  .thoughts-wrapper h1 {
    font-size: 80px;
    font-weight: bolder; }
  .thoughts-wrapper .white-background {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px; }
  .thoughts-wrapper .thoughts {
    border-spacing: 0;
    width: 95%;
    margin: 0 auto;
    padding: 12px;
    border: 4px double #d7deff; }
    .thoughts-wrapper .thoughts td {
      padding: 10px; }
  .thoughts-wrapper tr:nth-child(even) {
    background-color: #d7deff; }
  .thoughts-wrapper .thought {
    padding: 22px; }
    .thoughts-wrapper .thought h2 {
      padding: 0;
      margin: 0;
      font-weight: 100;
      font-family: "lunchtype22regular", "Helvetica Neue", -apple-system-font, Helvetica, Roboto, Arial, sans-serif;
      float: left;
      vertical-align: baseline;
      margin-top: 10px; }
    .thoughts-wrapper .thought p {
      float: right; }
  .thoughts-wrapper .more {
    text-align: center;
    cursor: pointer; }
  .thoughts-wrapper a {
    color: black;
    text-decoration: none; }
  @media screen and (max-width: 600px) {
    .thoughts-wrapper {
      width: 100%; }
      .thoughts-wrapper h1 {
        margin-bottom: 55px;
        font-size: 35px;
        margin-left: 10px; }
      .thoughts-wrapper .thought:last-child {
        height: 100px; }
      .thoughts-wrapper .thought {
        width: 95%;
        text-align: center; }
        .thoughts-wrapper .thought p {
          display: none; } }

.marvel-device {
  display: block;
  position: relative;
  box-sizing: content-box !important;
  margin: 0 auto;
  margin-top: 25px; }

.marvel-device .screen {
  width: 100%;
  position: relative;
  height: 100%;
  color: white;
  z-index: 2;
  background: url("http://images.128keaton.com/ipad-bg.jpg") no-repeat center center fixed;
  background-color: #000;
  text-align: center;
  display: block;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 0 3px #111;
  box-shadow: 0 0 0 3px #111; }

.marvel-device .top-bar,
.marvel-device .bottom-bar {
  height: 3px;
  background: black;
  width: 100%;
  display: block; }

.marvel-device .middle-bar {
  width: 3px;
  height: 4px;
  top: 0px;
  left: 90px;
  background: black;
  position: absolute; }

.marvel-device.ipad {
  width: 576px;
  height: 768px;
  padding: 90px 25px;
  background: #242324;
  -webkit-border-radius: 44px;
  border-radius: 44px; }

.marvel-device.ipad:before {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  position: absolute;
  content: '';
  display: block;
  top: 4px;
  left: 4px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background: #1e1e1e; }

.marvel-device.ipad .camera {
  background: #3c3d3d;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 44px;
  left: 50%;
  margin-left: -5px;
  -webkit-border-radius: 100%;
  border-radius: 100%; }

.marvel-device.ipad .top-bar,
.marvel-device.ipad .bottom-bar {
  display: none; }

.marvel-device.ipad .home {
  background: #242324;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 22px; }

.marvel-device.ipad.landscape {
  height: 576px;
  width: 768px;
  padding: 25px 90px; }

.marvel-device.ipad.landscape .camera {
  left: calc(100% - 44px);
  top: 50%;
  margin-left: 0;
  margin-top: -5px; }

.marvel-device.ipad.landscape .home {
  top: 50%;
  left: 22px;
  margin-left: 0;
  margin-top: -25px; }

.marvel-device.ipad.silver {
  background: #bcbcbc; }

.marvel-device.ipad.silver:before {
  background: #fcfcfc; }

.marvel-device.ipad.silver .home {
  background: #fcfcfc;
  -webkit-box-shadow: inset 0 0 0 4px #e7e7e7;
  box-shadow: inset 0 0 0 4px #e7e7e7; }

.marvel-device.ipad.silver .home:after {
  border: 1px solid rgba(0, 0, 0, 0.2); }

.social-buttons {
  width: 100%;
  background-color: #7D8CC4;
  height: 100px;
  padding: 30px;
  text-align: center; }
  .social-buttons a img {
    max-width: 100px;
    padding: 15px; }

.business-card {
  padding: 20px;
  margin: 0 auto;
  height: 300px;
  width: 100%;
  margin-top: 0px;
  padding-bottom: 55px;
  background-color: #000000;
  background: linear-gradient(#ff4b33, #ff335e);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 94%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 94%);
  color: #ffffff; }
  .business-card .mobile {
    display: none; }
  .business-card h1 {
    margin: 0;
    font-size: 65px;
    font-family: "lunchtype25condensed_regular"; }
  .business-card .social a {
    color: black;
    font-size: 14px; }
  .business-card .pic {
    width: 40%; }
    .business-card .pic img {
      width: 60%;
      border-radius: 100%;
      margin-left: 60px; }
  .business-card table a {
    color: yellow;
    text-decoration: none;
    font-size: 20px; }
  .business-card table a:after {
    content: " | "; }
  .business-card table td:last-child a:after {
    content: ""; }
  @media screen and (max-width: 600px) {
    .business-card {
      padding: 8px;
      padding-bottom: 55px; }
      .business-card .mobile {
        display: table-cell; }
        .business-card .mobile .pic {
          display: block; }
          .business-card .mobile .pic img {
            margin-left: 0; }
      .business-card .pic {
        display: none; }
      .business-card .content h1 {
        font-size: 30px; }
      .business-card table a {
        font-size: 18px; } }

.resume {
  width: 65%;
  margin: 0 auto;
  background-color: #ffffff;
  border-collapse: separate;
  margin-top: 25px;
  text-align: left;
  padding: 30px; }
  .resume tr {
    padding: 25px;
    vertical-align: baseline; }
  .resume .header {
    border-bottom: solid 4px #000000; }
    .resume .header td:nth-child(2) {
      padding-left: 20px; }
      .resume .header td:nth-child(2) span {
        font-size: 14px;
        font-family: "lunchtype22regular", "Helvetica Neue", -apple-system-font, Helvetica, Roboto, Arial, sans-serif;
        color: #a5a5ad; }
  .resume th {
    font-size: 30px;
    border-bottom: 2px solid gray; }
  .resume h1 {
    font-size: 70px;
    font-family: "lunchtype25condensed_regular"; }
  .resume td h4 {
    font-weight: 100; }
  @media screen and (max-width: 600px) {
    .resume {
      padding: 0;
      margin: 0 auto;
      margin-top: 10px;
      width: 95%; }
      .resume h1 {
        font-size: 35px; }
      .resume td {
        display: block; }
      .resume tr {
        display: block;
        border-bottom: 2px solid #000000; }
        .resume tr td:nth-child(1) h4 {
          font-size: 20px; }
      .resume tr:last-child {
        border: none; }
      .resume .header {
        padding: 0;
        margin: 0; }
        .resume .header td:nth-child(2) {
          display: none; }
      .resume tr:nth-child(2) {
        display: none; } }

.apps-wrapper {
  width: 60%;
  margin: 0 auto; }
  .apps-wrapper h1 {
    font-size: 80px;
    font-weight: bolder; }
  .apps-wrapper .apps {
    table-layout: fixed;
    margin: 0 auto;
    width: 100%;
    padding-top: 25%; }
    .apps-wrapper .apps img {
      max-width: 100px;
      border-radius: 17.544%; }
    .apps-wrapper .apps p {
      max-width: 75%;
      margin: 0 auto;
      margin-top: 15px; }
    .apps-wrapper .apps h1 {
      padding: 0;
      margin: 0;
      font-size: 25px;
      font-weight: 100; }
    .apps-wrapper .apps td {
      vertical-align: baseline;
      cursor: pointer; }
  @media screen and (max-width: 600px) {
    .apps-wrapper {
      width: 100%; }
      .apps-wrapper h1 {
        font-size: 35px;
        margin-left: 10px; }
      .apps-wrapper .marvel-device.ipad.landscape {
        width: 100%;
        padding: 0; }
      .apps-wrapper td {
        vertical-align: top; } }

.projects-wrapper {
  width: 60%;
  margin: 0 auto; }
  .projects-wrapper h1 {
    font-size: 80px;
    font-weight: bolder; }
  .projects-wrapper .projects {
    background-color: #fff;
    padding: 10px;
    border-spacing: 10px;
    width: 80%;
    margin: 0 auto;
    margin-top: 25px; }
    .projects-wrapper .projects h2 {
      font-size: 16px !important;
      font-weight: normal; }
    .projects-wrapper .projects .project {
      border-radius: 3px;
      border: 1px solid #d1d5da;
      padding: 15px; }
      .projects-wrapper .projects .project a {
        text-decoration: none; }
      .projects-wrapper .projects .project h2 {
        color: #0366d6;
        font-size: 14px; }
      .projects-wrapper .projects .project p {
        color: #586069;
        font-size: 14px; }
      .projects-wrapper .projects .project .language-color {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: blue; }
      .projects-wrapper .projects .project .technologies .jekyll {
        background-color: #e34c26; }
      .projects-wrapper .projects .project .technologies .javascript {
        background-color: #e34c26; }
      .projects-wrapper .projects .project .technologies .swift {
        background-color: #ffac45; }
    .projects-wrapper .projects .project::nth-child(odd) {
      margin-right: 12px; }
  @media screen and (max-width: 600px) {
    .projects-wrapper {
      width: 100%; }
      .projects-wrapper .projects {
        width: 100%; }
      .projects-wrapper .project {
        display: block; }
      .projects-wrapper td.project:nth-child(odd) {
        margin-bottom: 20px; }
      .projects-wrapper h1 {
        font-size: 35px;
        margin-left: 10px; } }

.thoughts-wrapper {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 25px; }
  .thoughts-wrapper h1 {
    font-size: 80px;
    font-weight: bolder; }
  .thoughts-wrapper .white-background {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px; }
  .thoughts-wrapper .thoughts {
    border-spacing: 0;
    width: 95%;
    margin: 0 auto;
    padding: 12px;
    border: 4px double #d7deff; }
    .thoughts-wrapper .thoughts td {
      padding: 10px; }
  .thoughts-wrapper tr:nth-child(even) {
    background-color: #d7deff; }
  .thoughts-wrapper .thought {
    padding: 22px; }
    .thoughts-wrapper .thought h2 {
      padding: 0;
      margin: 0;
      font-weight: 100;
      font-family: "lunchtype22regular", "Helvetica Neue", -apple-system-font, Helvetica, Roboto, Arial, sans-serif;
      float: left;
      vertical-align: baseline;
      margin-top: 10px; }
    .thoughts-wrapper .thought p {
      float: right; }
  .thoughts-wrapper .more {
    text-align: center;
    cursor: pointer; }
  .thoughts-wrapper a {
    color: black;
    text-decoration: none; }
  @media screen and (max-width: 600px) {
    .thoughts-wrapper {
      width: 100%; }
      .thoughts-wrapper h1 {
        margin-bottom: 55px;
        font-size: 35px;
        margin-left: 10px; }
      .thoughts-wrapper .thought:last-child {
        height: 100px; }
      .thoughts-wrapper .thought {
        width: 95%;
        text-align: center; }
        .thoughts-wrapper .thought p {
          display: none; } }

/* Page-specific colors */
#main {
  padding: 1em;
  box-sizing: border-box;
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  box-sizing: border-box; }

#white {
  background-color: #fff;
  padding-top: 10px;
  margin-top: -10px; }

#white p.copyright {
  color: black; }

#post .social-buttons a {
  color: white !important; }

#home p.copyright {
  color: white;
  font-size: 20px; }

/* Footer */
.footer {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateZ(0px); }

#frontpage-footer {
  top: 40%;
  transform: translateY(-40%); }

.footer .copyright {
  -webkit-transform: translateZ(0px); }

.footer a {
  text-decoration: none;
  -webkit-font-smoothing: antialiased; }

#default-footer a {
  color: black; }

.fa {
  -webkit-transform: translateZ(0px); }

#dribbblewrap {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block; }

#dribbblewrap:hover {
  transform: rotate(1080deg); }

.fourohfour {
  margin-top: 155px;
  text-align: center;
  clear: both;
  overflow: auto;
  display: block; }

.fourohfour::after {
  clear: both; }

.fourohfour a {
  text-align: center;
  color: white;
  font-size: 26px; }

.svg {
  max-width: 30px;
  padding: 10px; }

@media screen and (max-width: 800px) {
  #frontpage-footer,
  #home p.copyright {
    font-size: 0.8em !important;
    top: 27%;
    transform: translateY(-27%); } }
@media screen and (max-width: 600px) {
  #frontpage-footer,
  #home p.copyright {
    font-size: 1.5em !important;
    top: 10% !important;
    transform: translateY(-10%) !important; } }
a.home {
  padding: 20px;
  display: block;
  float: left;
  margin-left: 25px;
  color: white;
  font-size: 25px; }

a.help {
  padding: 20px;
  display: block;
  float: right;
  color: white;
  font-size: 25px; }

.app-container {
  width: 40%;
  margin: 0 auto; }

.app-title {
  font-size: 100px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
  padding-bottom: 0; }

.app-description {
  font-size: 35px;
  font-weight: 300;
  text-align: center; }

.app-icon {
  width: 80px;
  border-radius: 17px;
  padding: 0;
  margin: 0 auto;
  text-align: center; }

.app-video {
  float: right;
  width: 50%; }

#large {
  float: right;
  width: 90%;
  height: 550px; }

.app-info {
  float: left;
  width: 50%; }

.app-features-list {
  font-size: 25px;
  margin: 0; }

.app-features-title {
  font-weight: 300;
  font-size: 55px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: white; }

.app-features {
  font-size: 23px; }

.app-download {
  width: 100%;
  float: left;
  display: block;
  height: 50px;
  text-align: center;
  padding: 20px;
  color: #d2ce89;
  font-size: 30px;
  padding: 20px 20px 50px; }

.app-download a {
  color: #d2ce89;
  text-decoration: none; }

@media only screen and (max-width: 768px) {
  .app-container {
    width: 100%; }

  .app-description {
    width: 95%;
    text-align: center;
    margin: 0 auto; }

  .app-video {
    text-align: center;
    float: none;
    margin: 0 auto; }

  .app-info {
    width: 95% !important;
    margin: 0 auto;
    float: none; }

  .app-download {
    font-size: 20px;
    width: auto !important; }

  #large {
    height: auto;
    margin: 0 auto;
    float: none;
    padding: 0; } }
/* Blog posts */
footer#post-footer .social-buttons a,
footer#post-footer a.notice {
  color: #000 !important; }

.post img {
  width: auto;
  max-width: 75%;
  max-height: 600px; }

.post--full {
  width: 72%;
  margin: 0 auto; }

.post-back {
  position: absolute; }

.post p,
.post ul {
  word-wrap: break-word;
  font-size: 14px; }

.post-head-image {
  object-fit: cover;
  width: 100%;
  max-height: 400px; }

/* Blog page */
.rss-subscribe {
  color: black;
  font-weight: 300; }

.rss-subscribe a {
  color: black; }

.social .post-title {
  color: black !important; }

.post-list {
  width: 70%;
  list-style: none;
  margin: 25px auto 0;
  -webkit-margin-before: 0 !important;
  -webkit-padding-start: 0; }

.blog-post {
  padding-bottom: 10px;
  margin: 25px 0;
  word-wrap: break-word; }

.post-preview {
  border-bottom: 1px solid #f3f3f3;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; }

.post-link {
  font-weight: 900;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: black;
  font-size: 4.06rem; }

.internal-post-link {
  text-decoration: none;
  color: gray;
  padding: 12px; }

.post-title {
  font-weight: 900;
  letter-spacing: 0.01em;
  text-decoration: none;
  color: black;
  font-size: 4.06rem; }

.mobile-back {
  display: none; }

.post-stuff {
  width: 100%; }

.post-word-count {
  color: #b8b8b8;
  margin-left: 5px;
  font-weight: 300; }

.post-meta {
  color: black;
  font-size: 15px;
  font-weight: 300;
  border-radius: 17px; }

#white footer#post-footer.footer {
  color: black !important; }

#main {
  margin-top: -25px !important;
  padding-top: 0; }

.wrapper {
  margin-top: -25px; }

.post-text {
  display: block;
  width: 100%;
  height: 80%;
  margin-top: 58px;
  font-size: 18px; }

.post-text a,
.post-text a:visited {
  color: #ff4b33; }

.post-text img {
  max-width: 100%; }

.post-tag {
  font-weight: 300; }

.social .post-title {
  color: white; }

@media screen and (max-width: 1200px) {
  .post-list {
    width: 80% !important;
    margin: 0 auto; } }
@media screen and (max-width: 900px) {
  .post-list {
    width: 100% !important;
    margin: 0 auto; } }
@media screen and (max-width: 600px) {
  .post-list {
    width: 100% !important;
    margin: 0 auto; }

  .post img {
    text-align: center; }

  .blog-post {
    background-color: #f7f7f7;
    border: 2px solid #e9e9e9; }

  .post-preview {
    width: 90%;
    padding: 0 !important;
    margin: 0 auto;
    height: auto;
    min-height: 50px; }

  .meta {
    width: 100%;
    text-align: left; }

  .post-link {
    width: 100%;
    margin: 0 auto;
    font-size: 2.9em !important; }

  .return-blog {
    display: none !important; }

  .post-word-count {
    display: none; }

  .post-stuff {
    clear: both;
    display: block;
    width: 100%;
    position: relative;
    text-align: left; }

  .post-title {
    font-size: 2em !important;
    font-weight: bolder; }

  #main {
    width: 100% !important;
    font-size: 0.9em; }

  .comments {
    width: 95% !important;
    margin: 0 auto !important;
    padding: 0 !important; }

  .mobile-back {
    margin-right: 12px;
    display: inline !important;
    text-decoration: none;
    color: black; } }
.break {
  border: 1px solid black;
  width: 20%;
  margin: 0 auto 20px; }

/* Comments */
.comments {
  width: 40%; }

.text-field {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0; }

h2.comments__heading.heading-2 {
  font-weight: 300; }

.cta {
  border: 0 solid black;
  background-color: #ebdd3a;
  text-transform: lowercase; }

.comment {
  position: relative;
  margin-bottom: 75px; }

.comment__content-wrapper {
  padding-left: 120px; }

.comment__author {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  padding: 0;
  margin: 0; }

.comment__date {
  padding: 0;
  margin: 0;
  font-size: 12px; }

.comment a {
  text-decoration: none;
  color: black; }

.comment__avatar-wrapper {
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  overflow: hidden; }

.comment__avatar {
  width: 100px;
  height: 100px; }

.return-blog {
  text-decoration: none;
  color: #f43541;
  float: left;
  margin-top: 145px;
  width: 100px;
  text-align: center;
  display: inline-block; }

/* image styles */
img[src$='#stylized'] {
  background: #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  /* The third layer shadow */
  border: 2px solid #eee; }

img[src$='#stylized-small'] {
  max-width: 300px;
  display: inline-block;
  padding: 0;
  margin: 0 auto; }

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: 0 auto 25px; }

.pagination a {
  color: gray;
  text-decoration: none;
  font-size: 30px; }
