* {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: white;
  font-family: sans-serif; }

.intro {
  font-size: 13px;
  line-height: 2.5em;
  width: 50%;
  margin-top: 54px;
  margin-left: 25%;
  font-weight: 100;
  max-width: 245px; }

.top-title {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.3em;
  font-family: serif;
  background-color: black; }

.red {
  background-color: red;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 20px;
  font-size: 66px;
  letter-spacing: 0.2;
  line-height: 12px;
  margin-left: -75px;
  font-family: serif; }

.transition-intro {
  background-color: black;
  display: flex;
  width: 100%; }

.transition-intro .left {
  background-color: black;
  padding: 12px;
  display: flex;
  flex-grow: 1;
  min-height: 500px;
  max-height: 614px; }

.transition-intro .right {
  background-color: white;
  min-height: 500px;
  display: inline-block; }

.transition-intro .right img {
  max-height: 638px;
  max-width: 100%;
  min-width: 599px; }

.full {
  display: block;
  width: 100%;
  background-color: black; }

.full img {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  display: block;
  fill: red;
  -webkit-filter: invert(100%);
  filter: invert(100%); }

.full img path {
  fill: red; }
