<div class="container" id="home">
    <div class="greeting">
        <img src="https://images.128keaton.com/me5.png" alt="Me">
        <h1>Hello! 👋</h1>
        <h2>I am <span class="uline">Keaton Burleson</span></h2>
        <h3>A full-stack developer with ranging skills:</h3>
    </div>
    <div class="specialties">
        {{ range $.Site.Data.specialties }}
        {{ partial "specialty.html" . }}
        {{ end }}
    </div>
    <div class="education">
        <h3>I graduated in 2021 with a BS in <span class="uline">Computer Science</span> 🎉</h3>
    </div>
    <div class="links">
        {{ partial "links/github.html" . }}
        {{ partial "links/linked-in.html" . }}
        {{ partial "links/resume.html" . }}
    </div>
</div>
{{ partial "languages.html" . }}
