<div class="container" id="home">
    <div class="greeting">
        <img src="https://images.128keaton.com/me4.webp" alt="Me">
        <h1>Hello! 👋</h1>
        <h2>I am <span class="uline">Keaton Burleson</span></h2>
        <h3>A full-stack developer with ranging skills:</h3>
    </div>
    <div class="specialties">
        {{ range $.Site.Data.specialties }}
        {{ partial "specialty.html" . }}
        {{ end }}
    </div>
    <div class="education">
        <h3>I graduated in 2021 with a BS in <span class="uline">Computer Science</span> 🎉</h3>
    </div>
    <div class="links">
        <p class="link github">View my
        {{ .Scratch.Set "link-href" "http://github.com/128keaton" }}
        {{ .Scratch.Set "link-title" "GitHub" }}
        {{ partial "links/github.html" . }}
        </p>
        <p class="link linked-in">Visit my
            {{ .Scratch.Set "link-href" "http://github.com/128keaton" }}
            {{ .Scratch.Set "link-title" "LinkedIn" }}
            {{ partial "links/linked-in.html" . }}
        </p>
        <p class="link download">Download my
            {{ .Scratch.Set "link-href" "/pdf/resume.pdf" }}
            {{ .Scratch.Set "link-title" "Resume" }}
            {{ partial "links/download.html" . }}
        </p>
    </div>
</div>
{{ partial "languages.html" . }}
