<table class="business-card">
    <tr>
        <td class="pic">
            <img src="http://images.128keaton.com/me-two.jpg">
        </td>
    </tr>
    <tr>
        <td class="content">
            <h1>Keaton Burleson</h1>
            <p class="terminal">print("is a developer")<i class="blink">█</i></p>
        </td>
    </tr>
</table>
<table class="links">
    <tr>
        <td>
            <a href="#resume">Experience</a>
        </td>
        <td>
            <a href="#projects">Projects</a>
        </td>
        <td>
            <a href="#blog">Blog</a>
        </td>
        <td>
            <a href="#me">Me</a>
        </td>
</table>