<table class="business-card">
    <tr>
        <td class="content">
            <h1>Keaton Burleson</h1>
            <p class="hljs"></p>
        </td>
    </tr>
    <tr>
        <td>
            <table class="links">
                <tr>
                    <td>
                        <a class="experience-link" href="#resume">Experience</a>
                    </td>
                    <td>
                        <a class="projects-link" href="#projects">Projects</a>
                    </td>
                    <td>
                        <a class="blog-link" href="#blog">Blog</a>
                    </td>
                    <td>
                        <a class="me-link" href="#me">Me</a>
                    </td>
            </table>

        </td>
    </tr>
</table>
