<table class="business-card">
    <tr>
        <td class="pic">
            <img src="http://images.128keaton.com/me.jpg">
        </td>
        <td class="content">
            <h1>Keaton Burleson</h1>
            <p>Web developer, app creator, fun instigator</p>
            <p>I love Swift, Ruby, and CSS. Never at the same time.</p>
            <table class="links">
                <tr>
                    <td>
                        <a href="#resume">Experience</a>
                    </td>
                    <td>
                        <a href="#apps">Apps</a>
                    </td>
                    <td>
                        <a href="#projects">Projects</a>
                    </td>
                    <td>
                        <a href="#blog">Blog</a>
                    </td>
            </table>
            <table class="social">
                <tr>
                    <td>
                        <a href="http://twitter.com/128keaton">Twitter</a>
                    </td>
                    <td>
                        <a href="http://dribbble.com/128keaton">Dribbble</a>
                    </td>
                    <td>
                        <a href="http://github.com/128keaton">GitHub</a>
                    </td>
            </table>
        </td>
        </tr>
</table>