<div class="projects-wrapper">
    <h1>Projects</h1>
    <table id="projects" class="projects">
        <tr>
            <td>
                <h2>
                    Pinned
                </h2>
            </td>
        </tr>
        {% assign projects = site.data.portfolio.size | divided_by: 2.0 | ceil %}
        {% for i in (1..projects) %}
        {% assign offset = forloop.index0 | times: 2 %}
        <tr>
            {% for project in site.data.portfolio limit:2 offset:offset %}
            <td class="project">
                <div class="header">
                    <a href="{{ project[1].url }}">
                        <h2 class="title">{{ project[1].title }}</h2>
                    </a>
                </div>
                <p class="description">{{ project[1].description }}</p>
                <p class="technologies"><span class="language-color {{ project[1].technologies | downcase}}"></span>
                    {{ project[1].technologies}}
                </p>
            </td>
            {% endfor %}
        <tr>
            {% endfor %}
    </table>
</div>