<table id="resume" class="resume wrapper">
    <tr class="header">
        <td colspan="2">
            <h1>Rèsumè</h1>
            <span>Keaton A. Burleson</span>
        </td>
        <td>
            <a class="download" href="https://stuff.128keaton.com/resume/Resume-Keaton-Burleson.pdf">PDF</a>
        </td>
    </tr>
    <tr class="top">
        <th colspan=2>
            Education/Awards
        </th>
        <th>
            Date
        </th>
    </tr>
    {% assign educations = site.data.education %}
    {% for education in educations %}
    <tr class="education-row last-row-{{ forloop.last}}" id="education-{{forloop.index}}">
        <td class="education-title" colspan="2">
            <h4 class="title">{{ education.title }}</h4>
            <h4 class="sub-title">{{education.sub-title}}</h4>
        </td>
        <td class="education-date">
            {{ education.date }}
        </td>
    </tr>
    {% endfor %}
    <tr class="top">
        <th class="job-header">
            Job
        </th>
        <th class="experience-header">
            Experience
        </th>
        <th>
            Date
        </th>
    </tr>
    {% assign jobs = site.data.resume %}
    {% for job in jobs %}
    <tr class="job-row" id="job-{{forloop.index}}">
        <td class="job-title">
            <h4 class="title">{{ job.title }}</h4>
            <h4 class="location">{{ job.location }}</h4>
        </td>
        <td class="job-experience">
            <p>{{ job.experience }}</p>
        </td>
        <td class="job-date">
            {{ job.date }}
        </td>
    </tr>
    {% endfor %}
</table>
