<table id="resume" class="resume">
    <tr class="header">
        <td>
            <h1>Rèsumè</h1>
             <span>Keaton A. Burleson</span>
        </td>
    </tr>
    <tr>
        <th colspan=2>
            Education/Awards
        </th>
        <th>
            Date
        </th>
    </tr>
    {% assign educations = site.data.education %}
    {% for education in educations %}
    <tr id="education">
        <td>
            <h4>{{ education[1].title }}</h4>
        </td>
        <td>
        </td>
        <td>
            {{ education[1].date }}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th>
            Job
        </th>
        <th>
            Experience
        </th>
        <th>
            Date
        </th>
    </tr>
    {% assign jobs = site.data.resume %}
    {% for job in jobs %}
    <tr>
        <td>
            <h4>{{ job[1].title }}</h4>
        </td>
        <td>
            <p>{{ job[1].experience }}</p>
        </td>
        <td>
            {{ job[1].date }}
        </td>
    </tr>
    {% endfor %}

</table>