<div id="blog" class="thoughts-wrapper">
        <div class="block-header thoughts-header">
            <h1 class="wrapper-title">Blog</h1>
            <span class="colored-separator green-separator"></span>
        </div>
        <table class="thoughts">
            {% for post in site.posts limit:5 %}
            <tr class="thought">
                <td>
                    <h2 class="title"><a href="{{ post.url }}" class="js-pjax">{{ post.title }}</a></h2>
                    <p class="date">{{ post.date | date: "%b %d, %Y" }}</p>
                </td>
            </tr>
            {% endfor %}
            <tr class="more" onclick="location.href='/blog'">
                <td>
                    <h2>More</h2>
                </td>
            </tr>
        </table>
</div>
