<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include app-header.html %}
    <a href="../" class="home">Back</a>
    <a href="mailto:hello@128keaton.com" class="help">Support</a>
    <div class="app-container">
        <h1 class="app-title">{{ page.title }}</h1>
         <p class="app-description">{{ page.description }}</p>
         <div class="app-video">
        <video muted="" id="large" preload="" onplaying="this.controls=false" loop="" autoplay="">
        <source src="{{ page.video }}" type="video/mp4">
        </video>
        </div>
        <div class="app-info">


        {{ content }}
      </div>
    </div>
    <div class="app-download">
       <img class="app-icon" src="{{ page.icon }}"><br>

       <a href="{{ page.appstore }}">Download on the App Store</a>
       </div>

<div class="footer-fix">
  </div>
  </body>

</html>
