<!DOCTYPE html>
<!-- Keaton wuz here!-->
<html>
{% include head.html %}

<body>
	<div class="wrapper" id="home">
		<div class="slant-container">
			<div class="skew">
				<div class="header-inner">
					{{content}}
				</div>
			</div>
		</div>

		<div class="front-site-links">

			{% for page in site.pages | sort: "weight" %} {% if page.weight %}
			<a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a> {% endif %} {% endfor %}
			<div class="clear"></div>
		</div>

		{% include footer.html %}

	</div>

</body>

</html>
