<!DOCTYPE html>
<!-- Keaton wuz here!-->
<html>
{% include head.html %}

<body>
	<!-- Business Card -->
	{% include_relative _layouts/main-page/business-card.html %}

	<!-- Resume -->
	{% include_relative _layouts/main-page/resume.html %}

	<!-- Apps -->
	{% include_relative _layouts/main-page/apps.html %}

	<!-- Projects -->
	{% include_relative _layouts/main-page/projects.html %}

	<!-- Thoughts -->
	{% include_relative _layouts/main-page/thoughts.html %}

	<!-- About -->
	{% include_relative _layouts/main-page/about.html %}
</body>

</html>