<!DOCTYPE html>
<html>
{% include head.html %} 
{% include header.html %}


<body id="post">
    <div class="wrapper" id="white post">
            <article class="post post--full">
                <div class="post-head">
                    <h2 class="post-title">{{ page.title }}</h2> 
                    <h3 class="post-date">{{ page.date| date: "%B %-d %Y"  }}</h3>
                </div>
                {% if page.head-image %}
                    <img class="post-head-image" src="{{ page.head-image }}"> 
                {% endif %}
                <div class="post-content">
                    {{ content }} 
                </div>
                {% include partials/post-comments.html %}
            </article>
        {% include footer.html %}
    </div>
</body>

</html>
