<!DOCTYPE html>
<html>
{% include head.html %} {% include header.html %}


<body style="background-color: white!important; background: none;">
    {% if page.head-image %}
    <img class="post-head-image" src="{{ page.head-image }}"> {% endif %}
    <div class="wrapper" id="white post">

        <main id="main" role="main" class="main">
            <article class="post post--full">

                <h2 class="post-title">    <a class="mobile-back" href="/blog/"><i class="fa fa-arrow-left" aria-hidden="false"></i></a>{{ page.title }} </h2> {{ content }} {% include partials/post-comments.html %}
            </article>
        </main>
        {% include footer.html %}
    </div>
</body>

</html>
